<div class="main-content ">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-6 col-sm-6 ">
        <br/>
         <div class="card border-primary ui-forgot">
           <div class="card-body">
             <h4 class="card-title">Reset Password</h4>
             <form id="ui-login" [formGroup]="formReset" (ngSubmit)="doReset(formReset)">
             <mat-form-field class="example-full-width"  appearance="outline">
              <mat-label><mat-icon><b>perm_identity</b></mat-icon> <b> password reset email</b></mat-label>
              <input matInput placeholder="Email" formControlName="email"/>
              </mat-form-field>
              <button type="submit"  name="btn-reset" id="btnReset" class="btn btn-warning" href="#" role="button">Reset Password</button>
            </form>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>
